[class^="col-"] {
  /* background-color: blue; */
}

h2 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Roboto";
  color: rgb(48, 48, 48);
  line-height: 0.563;
  text-align: left;
}

#headphones {
  margin: 15px 75px;
}

#Black__White {
  font-size: 130px;
  font-family: "Raleway";
  font-weight: 900;
  color: rgb(48, 48, 48);
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  text-align: right;
 
}

#slider {
  position: absolute;
  align: center;
  width: 52px;
  height: 15px;
  margin: 0 auto;
}
h3{
  text-align: right;
  color:red;
}
p{
  text-align: right;
}
.Featured{
  background: green;
}
hr{
  width: 100px;
}
#red_sq{
  text-align: left;
}
.row_2 {
  margin: 0 15px;
}