body{
  margin: 0;
}
#verh{
  background: #000;
  width: 100%;
  position: absolute;
}
.pic{
  width: 22%;
  float: left;
  position: relative;
  margin: 15px;
}
.pac{
  width: 50%;
  display: block;
  margin: 0 auto;
}
p{
  color: #FFFFFF;
  text-align: center;
}
#main{ 
  width: 100%;
  margin: 195px 0;
}
#left{
  background: #990606;
  width: 15%;
  height: 365px;
  float: left;
}
#center{
  background: #990606;
  width: 70%;
  height: 365px;
  float: left;
}
#right{
  background: #fcfafa;
  width: 15%;
  height: 365px;
  float: left;
}
#comp{
  width: 40%;
  display: block;
  margin: 0 auto;
}
 a:visited{
  color:orange ;
 }
 footer{
  background:orangered;
  width: 100%;
 }
 span{
  color: #FFFFFF;
 }
 #news{
  background:grey;
  text-align: center;
 }
 hr{
  border: none;
  color: grey; 
  background-color: grey;
  height: 2px;
  width: 150px;
 }
 a:hover{
  color:blue ;
 }