
.container{
  max-width: 800px;
  background-image: url(../img/nike_product_card_dark.jpg);
  background-repeat: no-repeat;
   background-size: cover; 
  padding: 202px 80px;
  
  
}

@font-face {
  font-family: 'Museo';
  src: url('museosansrounded-100-webfont.woff2') format('woff2'),
    url('museosansrounded-100-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.logo{
      position: absolute;
      margin: -127px -224px;
}


.picture{
  position: absolute;
  padding: 10px;    
  margin: 38px -77px;
}
h1{
  /* color: #02995b;
font-family: 'misoregular';
font-size: 70px;
font-weight: 700;
line-height: 24px; */

width: 172px;
height: 14px;
opacity: 0.54;
color: #e1e1e1;
 font-family: 'Museo';
font-size: 14px;
line-height: 26px;


}
h2{
  font-family: 'misoregular';
font-size: 56px;
font-weight: 400;
line-height: 24px;
}
h3{
  font-family: Lato;
font-size: 20px;
font-weight: 300;
line-height: 26px;
text-align: center;
}
.grey{
  background: #CAB265;
}
